@media screen and (max-width: 1400px) {
  .section {
    padding: 2rem 9rem 2rem 4rem;
  }
  header {
    .header-content {
      font: 1rem;
    }
    .left-header {
      padding-left: 0;
      .gallery {
        --s: 90%;
        padding-top: 0;
        justify-content: center;
      }
    }
    .right-header {
      padding-right: 0;
    }
  }
  .section {
    padding: 3rem 8rem;
  }
  .about-container {
    .left-about {
      padding-right: 2rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .section {
    padding: 1rem 7rem 1rem 2rem;
  }
  .about-container {
    .left-about {
      padding-right: 0;
    }
    .right-about {
      grid-gap: 1rem;
      .about-item .abt-text .small-text {
        padding: 0;
        &::before {
          display: none;
        }
      }
    }
  }
  .header .header-content .left-header .gallery {
    --s: 90%;
    padding-top: 0;
    justify-content: center;
  }

  .header-content .right-header {
    padding-right: 5rem;
  }
  .theme-btn {
    width: 60px;
    height: 60px;
  }
  .contact-container {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 960px) {
  header {
    .header-content {
      grid-template-columns: repeat(1, 1fr);

      .right-header {
        padding: 1rem 4rem;
        grid-row: 1;
        text-align: center;
        .name {
          text-align: center;
        }
      }
      .left-header {
        padding-left: 6rem !important;
      }
      .left-header .gallery {
        --s: 80%;
        padding-top: 0;
        justify-content: center;
      }
      .btn-con {
        align-self: center;
      }
    }
  }
  .about {
    font-size: 0.9rem;
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .section {
    padding: 1rem 5rem 1rem 1rem;
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr);

    .portfolio-item img {
      height: auto;
    }
  }
  .contact-container {
    padding: 3.5rem;
    .main-title h2 {
      font-size: 3rem;
    }
  }
  .contact-content-con {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
    }
    .left-contact .contact-icon {
      justify-content: center;
    }
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
    .header-content {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding-bottom: 6rem;

      .right-header {
        padding: 1rem !important;
        grid-row: 1;
        text-align: center;
        .name {
          text-align: center;
        }
      }
      .left-header {
        padding-left: 2rem !important;
      }
      .left-header .gallery {
        --s: 90%;
        padding-top: 0;
        justify-content: center;
      }
    }

    .btn-con {
      align-self: center;
    }
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    :hover + .hide {
      background-color: var(--color-grey-4);
      color: var(--color-grey-3);
    }
  }

  .about-container {
    grid-template-columns: repeat(1, 1fr);
    .right-about {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2.5rem;
      .about-item {
        .large-text {
          text-align: center;
        }
        .small-text {
          text-align: center;
        }
        .abt-text .small-text::before {
          display: none;
        }
      }
    }
    .left-about {
      padding-right: 0;
      p {
        padding-left: 0;
      }
    }
  }

  .theme-btn {
    width: 40px;
    height: 40px;
  }

  .section {
    padding: 1rem 2rem;
  }

  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
    .timeline-item {
      padding-left: 2rem;
      .tl-icon {
        left: -27px;
      }
    }
    .tline3 {
      grid-row: 2;
    }
    .tline5 {
      grid-row: 3;
    }
  }

  .main-title {
    h2 {
      font-size: 3rem;
      span {
        font-size: 3rem;
      }
      .bg-text {
        font-size: 4rem;
      }
    }
  }

  .portfolios {
    grid-template-columns: repeat(1, 1fr);

    .portfolio-item img {
      height: auto;
    }
  }

  .contact-container {
    padding: 1rem;
  }

  .contact-content-con {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
      padding-bottom: 5rem;
    }
    .left-contact .contact-icon {
      justify-content: center;
    }
  }
}
