@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
  }
  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .right-header {
    padding: 2rem !important;
    grid-row: 1;
    text-align: center;
    .name {
      text-align: center;
    }
  }
  .left-header {
    padding: 2rem !important;
  }
  .left-header .gallery {
    --s: 500px;
    padding-top: 0;
  }

  .btn-con {
    align-self: center;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    :hover + .hide {
      background-color: var(--color-grey-4);
      color: var(--color-grey-3);
    }
  }
}
