@media screen and (max-width: 600px) {
  header {
    padding: 0 !important;
  }
  .header-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-bottom: 6rem;
  }
  .right-header {
    padding: 1rem !important;
    grid-row: 1;
    text-align: center;
    .name {
      text-align: center;
    }
  }
  .left-header {
    padding: 4rem !important;
  }
  .left-header .gallery {
    --s: 90%;
    padding-top: 0;
    justify-content: center;
  }

  .btn-con {
    align-self: center;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    :hover + .hide {
      background-color: var(--color-grey-4);
      color: var(--color-grey-3);
    }
  }

  .theme-btn {
    // top: 90%;
    // right: 3%;
    width: 40px;
    height: 40px;
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
    .right-about {
      grid-template-columns: repeat(1, 1fr);
      padding-top: 2.5rem;
    }
    .left-about {
      padding-right: 0;
      p {
        padding-left: 0;
      }
    }
  }

  .section {
    padding: 1rem 2rem;
  }

  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }

  .timeline {
    grid-template-columns: repeat(1, 1fr);
    .timeline-item {
      padding-left: 2rem;
      .tl-icon {
        left: -27px;
      }
    }
    .tline3 {
      grid-row: 2;
    }
    .tline5 {
      grid-row: 3;
    }
  }

  .main-title {
    h2 {
      font-size: 3rem;
      span {
        font-size: 3rem;
      }
      .bg-text {
        font-size: 4rem;
      }
    }
  }

  .portfolios {
    grid-template-columns: repeat(1, 1fr);

    .portfolio-item img {
      height: auto;
    }
  }

  .contact-content-con {
    flex-direction: column;
    .right-contact {
      margin-left: 0;
    }
    .left-contact .contact-icon {
      justify-content: center;
    }
  }
}
